@import "../../scss/variables";

.FlatButton {
  border: none;
  background-color: transparent;
  font-size: 0.875rem;
}

.Primary {
  color: $primary;
}

.DarkGray {
  color: $gray-500;
}

.Bordered {
  padding: 0.5rem;
  border: 1px solid $primary;
  border-radius: 2px;
  color: $white;
  background-color: $primary;
}
