@import "../../scss/mixins";
@import "../../scss/variables";

.ShoppingCart {
  @include display_flex(column, null, null);
  width: 100%;
  border: 8px solid $primary;
  background-color: $white;
  border-radius: 2px;
  padding: 1.6875rem 1.6875rem 1rem 1.375rem;

  span {
    margin-bottom: 1rem;
  }
}

.BasketPrice {
  display: inline-block;
  padding: 1rem 1.5rem;
  border: 2px solid $primary;
  align-self: flex-end;
}

@media (min-width: 1200px) {
  .RightSection {
    width: 100%;
    padding-left: 1rem;
  }
}
