@import "../../scss/mixins";
@import "../../scss/utilities";
@import "../../scss/variables";

.Header {
  position: relative;
  background-color: $primary;
  height: 4.5rem;
  margin-bottom: 2.5rem;

  button {
    position: absolute;
    right: 1rem;
    height: 100%;
    color: $white;
    font-size: 1.5rem;
    z-index: 1;
  }
}

.ContainerFluid {
  position: relative;
  @include display_flex;
  @extend .container-fluid;
  height: 100%;
}

.TotalPrice {
  display: none;
  position: absolute;
  right: 1rem;
  height: 100%;
  padding: 1.5rem;
  background-color: #147594;

  i {
    color: $white;
    margin-right: 0.5rem;
  }
}

@media (min-width: 768px) {
  .Header button {
    left: 1rem;
  }

  .TotalPrice {
    display: block;
  }
}

@media (min-width: 1200px) {
  .Header button {
    display: none;
  }
}
