$primary: #1ea4ce;
$secondary: #147594;
$text-primary: #191919;
$text-secondary: #525252;
$title-primary: #6f6f6f;
$light-blue: #f2f0fd;
$gray-100: #e0e0e0;
$gray-200: #f3f0fe;
$gray-300: #a8a8a8;
$gray-500: #697488;
$white: #ffffff;
$body-bg: #e5e5e5;
$shadow: #5d38c066;
